body{
    background: #000;
    color: #fff;
    text-align: center;
}

.flashit{
    animation: flash linear 1s infinite;
}
@keyframes flash{
    0%{opacity:.5;}50%{opacity: .1;} 100%{opacity: 1;}
}
.pulseit{
    animation: pulse linear 1s infinite;
}
@-webkit-keyframes pulse{
    0%{width: 200px;}50%{width: 240px;}100%{width: 200px;}
}
@keyframes pulse{
    0%{width: 200px;}50%{width: 240px;}100%{width: 200px;}
}
