label {
	width: 140px;	
	padding: 4px;
}

input {
	width: 140px;	
	padding: 4px;
	margin: 5px 5px;	
}

#formulario {
	width: 400px;
	margin: 0 auto;
	background-color:#F0EFEF;
	padding: 10px 30px;
	border-radius: 6px;
	border:thin #C1C1C1;
}